.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav li{
    list-style: none;
}
.nav ul{
    display: flex;
    gap: 1rem;
    margin-right: 4rem;
}
.description_nav{
    display: flex;
    color: #ABDECB;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}